*{
  all: unset;
}

$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$orange: #fab387;
$yellow: #f9e2af;
$blue: #89b4fa;
$lavender: #b4befe;
$white: #cdd6f4;
$gray: #6c7086;
$black: #11111b;
$green: #a6e3a1;
$transparent: rgba(0, 0, 0, 0.6);

$color1: $black;
$color2: $red;
$color3: $gray;
$color4: $lavender;

.bar {
  background: linear-gradient(45deg, $color4 0%, $color2 100%);
  color: $color2;
  font-weight: bold;
  font-size: 16px;
  border-radius: 15px;
  font-family: Sauce Code Pro Nerd Font;
  padding: 5px;
  padding-top: 6px;
  padding-left: 10px;
}

.window {
  margin-left: 10px;
  padding-left: 10px;
  color: $color1;
  font-family: Sauce Code Pro Nerd Font;
  border-radius: 8px;
}

.stats {
  font-family: Sauce Code Pro Nerd Font;
  color: $color1;
}

.cpu {
}

.memory {
  margin-left: 10px;
}

.volume {
}

.battery {
  margin-left: 10px;
}

.datetime {
}

.current {
  color: $color1;
}

.workspace-entry {
  margin-bottom: 2px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 2px;
  border-radius: 8px;
  font-size: 16px;
}

.empty {
  color: $color3;
}

.stats {
  margin-left: 10px;
  margin-right: 10px;
  
}

.dock {
  margin-bottom: 10px;
}

.dock-inner {
  border-radius: 20px;
  border: 4px solid $color2;
  background: $color1;
}

.dock-item {
  border-radius: 15px;
}

.dock-item:hover {
  background: $color3;
}

.dock-icon {
  padding: 5px;
}

.dock-current {
  background: $color3;
}

.hidden {
}

.nokia-base {
    background: $blue;
    border-radius: 30px;
    border: 4px solid $white;
}

.nokia-screen {
    background: $black;
    border: 4px solid $black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: inset 0px 0px 10px 5px $black;
}

.nokia-speaker {
    background: $gray;
    border-radius: 20px;
    margin-top: 10px;
}

.nokia-keyboard {
    padding-bottom: 10px;
}

.nokia-upper-buttons {
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.nokia-select-button {
    border: 1.5px solid $gray;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-center-button {
    border: 1.5px solid $gray;
    border-radius: 5px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 3px;
    margin-top: 3px;
    box-shadow: 1px 0px 2px 0px $black;
}
.nokia-keyboard-row{
    margin-left: -40px;
    margin-right: -40px;
}

.nokia-button-1{
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 50px;
    padding-left: 10px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-2 {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-3 {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-4 {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 6px;
    padding-left: 10px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-5 {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-6 {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-7 {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 10px;
    padding-left: 8px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-8 {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-9 {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 11px;
    padding-left: 8px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-\* {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 50px;
    padding-left: 12px;
    font-family: mono;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-0 {
    border: 1.5px solid $gray;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 30px;
    padding-left: 10px;
    font-family: mono;
    border-radius: 5px;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-\# {
    border: 1.5px solid $gray;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 50px;
    padding-left: 10px;
    font-family: mono;
    border-radius: 5px;
    box-shadow: 1px 0px 2px 0px $black;
}

.nokia-button-highlight:hover {
    background: $red;
    color: $gray;
    border-left: 5px solid $blue;
    border-right: 5px solid $blue;
    border-top: 7px solid $blue;
    border-bottom: 10px solid $blue;
}

.nokia-button-highlight-select:hover {
    background: $red;
    border-top: 6px solid $blue;
    border-bottom: 6px solid $blue;
    border-left: 11px solid $blue;
    border-right: 11px solid $blue;
}

.nokia-button-highlight-center:hover {
    background: $red;
    border-left: 13px solid $blue;
    border-right: 13px solid $blue;
    border-top: 5px solid $blue;
    border-bottom: 5px solid $blue;
}

.nokia-screen-text-1 {
    margin-top: 20px;
    padding: 10px;
    font-family: CodeNewRoman Nerd Font;
    font-weight: bold;
    color: $yellow;
    font-size: 20px;
    border: 4px dotted $red;
    border-radius: 20px;
}
.nokia-screen-text-2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    font-family: CodeNewRoman Nerd Font;
    font-weight: bold;
    color: $green;
    font-size: 20px;
    border: 4px dotted $orange;
    border-radius: 20px;
}

.nokia-neko-blush{
    box-shadow: 0px -10px 10px 5px $red;
    border-radius: 50%;
}

.nokia-hour {
    font-family: CodeNewRoman Nerd Font;
    font-weight: bold;
    font-size: 60px;
    color: $yellow;
    margin-bottom: -10px;
}

.nokia-minute {
    font-family: CodeNewRoman Nerd Font;
    font-weight: bold;
    font-size: 60px;
    color: $white;
    margin-bottom: 20px;
}
